@charset "UTF-8";

@import url(/source/style_Reset.css);

.checked {
	background-color: #ccc;
}

/*메인*/
main#manage {
	width: 1200px;
	padding: 10px;
	padding-top: 40px;
	margin: 0px auto;
	/*border: 1px solid #f80;*/
}

/*메뉴 시작*/
main#manage>div#manageLNB {
	width: 200px;
	margin-bottom: 100px;
}

main#manage>div#manageLNB h2 {
	margin-bottom: 30px;
	text-align: left;
	font-size: 28px;
}

main#manage>div#manageLNB {
	/*   border: 1px solid #000; */
	width: 200px;
}

main#manage>div#manageLNB>ul {
	width: 200px;
	border-bottom: none;
	border-radius: 2px;
}

#manage>#manageLNB>ul>li {
	width: 200px;
	font-size: 20px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

#manage>#manageLNB>ul>li>a {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	text-align: left;
	padding-left: 15px;
	font-weight: normal;
}

#manage #manageLNB>ul>li.manageLi>a {
	font-size: 14px;
}

#manage #manageLNB>ul>li.manageLi:hover>a {
	background-color: #eee;
	color: #6e2e99;
}

/*메뉴 끝*/


/*콘텐츠 구역 공통 부분 시작*/

#manageContent {
	border: 1px solid #000;
	width: 100%;
	padding: 20px;
}

#manageContent div#content {
	border: 1px solid #f80;
}

#manageContent div#content div.title {
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
} 

/*콘텐츠 구역 공통 부분 끝*/

/* 전체 주문 조회 페이지 시작*



/* 전체 주문 조회 페이지 끝*/