@charset "UTF-8";

@import url(../source/style_Reset.css);

div#wrap {
	width: 1200px;
	border: 2px solid #eee;
}

header#headerTmp {
	display: block;
	width: 100%;
	text-align: center;
}

div#headMenu {
	font-weight: bold;
	/*   border: 1px solid #000; */
	margin-left: 1000px;
}

div#headMenu li {
	margin: 5px;
}

#wrap nav#headLNB>ul {
	text-align: center;
	padding-left: 400px;
}

#wrap nav#headLNB>ul>li {
	margin: 15px;
}

#wrap nav#headLNB>ul>li>a {
	/*   border: 1px solid #f80; */
	background-color: #000;
}



/*///////////////////////////////////////////////////////////*/
/*///////////////////// main#main 시작 ////////////////////*/
/*///////////////////////////////////////////////////////////*/


main#main>div#mainlnb {
	width: 200px;
	/*  border: 1px solid #000; */
	justify-content: center;
}

main#main>div#mainlnb h2 {
	margin: 15px 0 20px;
}

main#main>div#mainlnb>nav#mainlnb_M {
	/*   border: 1px solid #000; */
	width: 100%;
	text-align: center;
}

main#main>div#mainlnb>nav#mainlnb_M>ul {
	width: 100%;
	border: 3px solid #ccc;
	border-radius: 2px;
}

#main>#mainlnb>#mainlnb_M>ul>li {
	font-size: 18px;
	line-height: 60px;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
}

#main>#mainlnb>#mainlnb_M>ul>li:last-child {
	border-bottom: none;
}

#main>#mainlnb>#mainlnb_M>ul>li>a {
	display: inline-block;
	width: 100%;
}

#main #mainlnb_M>ul>li.main_MLi:hover>a {
	background-color:#5f0080;
	color:#fff;	
}

#main #mainlnb_M>ul>li.main_MLi.selected {
	background-color:#5f0080;
}

.selected a {
	color:#fff;	
}

main#main>div#contents {
	/*   border: 1px solid #000; */
	padding-left: 50px;
	flex: 1;
}

main#main>div#contents>h3 {
	margin-top: 15px;
}



#main>#contents>table {
	border: 1px solid #eee;
	border-collapse: collapse;
	width: 100%;
	text-align: center;

}

#main>#contents>table td {
	font-size: 19px;
	border: 1px solid #ddd;
	line-height: 30px;
	
}

#main>#contents>table td:first-child {
	width: 110px;
}

#main>#contents>table td:nth-child(2) {
	width: 600px;
}

#main>#contents>table td:nth-child(3) {
	width: 60px;
}

hr.divisionline {
	border-color: #5f0080;
	margin: 10px 0;
}

#main>#contents>div#searchArea {
	margin-top: 20px;
	text-align: right;
}

#main>#contents ul {
	margin-left: 400px;
	margin-top: 20px;
}

#main>#contents ul>li {
	margin: 6px;
}

#main>#contents>ul>li:nth-child(2) {
	font-weight: bold;
}
#main>#contents button#write>a{
	color:#f5f5f5;
}
#main>#contents button#write {
	display: inline-block;
	margin-left: 840px;
	font-size: 20px;
	padding: 6px;
	border: none;
	border: 1px solid #898989;
	background-color:#5f0080;
	border-radius: 4px;
	cursor: pointer;
}


#main #contents table#FAQTbl td{
	width:10%;
	line-height: 40px;
}

.False{
	display: none;
}
.cheked{
 display: none;
	
}
#main>#contents>table#FAQTbl td.Question{
	text-align: left;
}
#main>#contents>table#FAQTbl span#Q{
	display: inline-block;
	margin-right: 150px;
	
}

#main>#contents>table#FAQTbl span{
	display: inline-block;
	padding-left: 50px;
	position: relative;
	left:40px;
}

#main>#contents>table#FAQTbl input#dropBtn1{
	border: none;
    font-size: 24px;
    padding: 5px;
    background-color:#fff;
    color: #5f0080;
    width: 80px;
   /*  border: 1px solid #eee;  */
    cursor: pointer;
  
    
	position: relative;
    left:175px;
    

}
main>#contents>table#FAQTbl  input#dropBtn2{
	border: none;
    font-size: 24px;
    padding: 5px;
    background-color:#fff;
    color: #5f0080;
    width: 80px;
/*    border: 1px solid #eee;  */
    cursor: pointer;
  
    
	position: relative;
    left:304px;
    
}

main>#contents>table#FAQTbl  input#dropBtn3{
		border: none;
    font-size: 24px;
    padding: 5px;
    background-color:#fff;
    color: #5f0080;
    width: 80px;
/*    border: 1px solid #eee;  */
    cursor: pointer;
  
    
	position: relative;
    left:300px;

}
#main>#contents>table#BBSwrite td:first-child {
	border-collapse:collapse;
	width: 250px;
	line-height: 40px;
	font-size: 21px;
	background-color: #f8f8f8;
}
#main>#contents>table#BBSwrite td>input[type=text]{
	width: 100%;
	height: 40px;
	border: none;
	font-size: 20px;
	padding: 5px;
}

#main>#contents>table#BBSwrite td#mainwrite{
   line-height: 120px;
   
}	

#main>#contents>table#BBSwrite td textArea{
	width: 100%;
	height: 150px;
	padding: 5px;
	border: none;
	font-size: 18px;
	width: 800px;
}
#main>#contents>table#BBSwrite td#file>input{
  width: 250px;
  font-size: 17px;
}
#main>#contents>div#btnArea{
	padding-top: 10px;
	text-align: right;
}

   
#main>#contents>div#btnArea>button{
	font-size: 18px;
	padding: 4px;
	
}


#main>#contents>#searchArea input, select, button {
	font-size: 18px;
}

#main>#contents>#searchArea button {
	cursor: pointer;
}
/*/////////////////////////////////////////////////////////////*/
/*//////////////////* 1:1문의 CSS //////////////////////////*/
/*/////////////////////////////////////////////////////////////*/



#wrap>form#frm>#main>#contents table#inquireTbl td:first-child {
	width: 400px;
	background-color: #f7f7f7;
	font-size: 20px;
	line-height: 75px;
}

table#inquireTbl td select#selectinquire_g{
  width: 300px;
  font-size: 20px;
  text-align: center;	
  padding: 5px;
  outline: none;
}
table#inquireTbl td select.selectinquire{
	width: 185px;
	text-align: center;
	outline: none;
	padding: 5px;
	font-size: 20px;
	
}
table#inquireTbl td select.selectinquire:last-child{
	width: 200px;
	text-align: center;
	outline: none;
	padding: 5px;
	font-size: 20px;
    
}

td#inquireText>textArea {
	margin-top: 10px;
   font-size: 21px;
   width: 90%;	
   height: 150px;
   outline: none;
   border: none; 

}
#main>#contents td>input[type=file]{
	width: 300px;
	font-size: 20px;
	
}



#main>#contents>div#inquire {
	/*  border: 1px solid #000;*/
	padding-left: 380px;
	margin-top: 30px;
}

#main>#contents>div#inquire>button {
	width: 100px;
	display: inline-block;
	border: none;
	cursor: pointer;
	font-size: 20px;
	border: 1px solid #aaa;
	background-color:#5f0080;
	color:#f5f5f5;
	border-radius: 5px;
}

#main>#contents>div#inquire>button:hover{
	color: #e9e9e9;
}


button#searchBtn {
   position: absolute;
   transform: translate(-25px, 3px);
   border: none;
   width: 15px;
   height: 15px;
   background-color: rgba(255, 255, 255, 0);
   font-size: 17px;
   cursor: pointer;
}