@charset "UTF-8";

@import url(/source/style_Reset.css);

main#main {
	width: 1200px;
	margin: 0 auto;
}

hr.sepLine {
	margin-bottom: 20px;
}

div#goods_wrap {
	margin: 0 50px;
	/* border: 1px solid #000; */
	width: 100%;
}

/* ########사진/가격 정보########*/
div#goods_detail {
	margin-bottom: 20px;
}

div#detailImg>img {
	width: 455px;
	height: 555px;
}

form#basketFrm {
	flex: 1;
}

#detail_info>table {
	border-collapse: collapse;
	margin: 0 20px 0 70px;
	width: 90%;
}

#detail_info>table td {
	/* border: 1px solid #000; */
	font-size: 15px;
}

#detail_info>table td:first-child {
	width: 140px;
}

#detail_info>table td#goods_catch {
	vertical-align: top;
}

#detail_info>table td.goods_price {
	font-weight: bold;
	font-size: 25px;
}


#detail_info>table td.hidPrice {
	text-decoration: line-through;
	text-decoration-color: #ff0000;
	border-bottom: none;
	color: #808080;
}

#detail_info>table td.hPrice {
	border-top: none;
	font-size: 20px;
	color: #ff0000;
	font-weight: bold;
}

#detail_info>table td.goods_txt {
	color: #666;
}

#detail_info>table td {
	border-bottom: 1px solid rgb(244, 244, 244);
}

#detail_info>table td.tdLine {
	border: none;
}

/*###### 구매수량 버튼 조절######## */
#detail_info>table td>div.cntBtn {
	text-align: center;
	border: 1px solid #dddfe1;
	width: 90px;
}

#detail_info>table td>div.cntBtn>* {
	border: none;
	background-color: #fff;
	text-align: center;
	font-size: 20px;
}

#detail_info>table td>div.cntBtn>button:hover {
	cursor: pointer;
}

#detail_info>table td>div.cntBtn>input {
	width: 40px;
	outline: none;
}

/*####### 최종가격, 장바구니#######*/
#detail_info>table td#totalPrice {
	text-align: right;
	padding: 30px 0 10px 0;
}

#detail_info>table td#totalPrice>span {
	font-weight: bold;
	font-size: 30px;
}


#detail_info>table td.goods_btnArea:first-child {
	text-align: right;
}

#detail_info>table td.goods_btnArea i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	color: red;
	/* border: 1px solid #000; */
}

#detail_info>table td.goods_btnArea button {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	/* padding-right: 30px; */
	width: 100%;
	height: 100%;
	background-color: #5f0081;
	border: none;
	border-radius: 3px;
}

#detail_info>table td.goods_btnArea button:hover {
	cursor: pointer;
}

div#goods_contents {
	/* border: 1px solid #000; */
	margin: 0 50px;
	flex-wrap: wrap;/* 확인 필요 */
}

/*######큌메뉴 시작######## */
nav#quickmenu {
	text-align: center;
	position: sticky; /* 큌메뉴가 따라다니도록 설정 */
	top: 0;
}

#quickmenu li {
	flex: 1;
	margin-bottom: 20px;;
	font-weight: bold;
	color: rgba(102, 102, 102);
	border: 1px solid #eee;
	height: 60px;
	line-height: 60px;
	background-color: #fafafa;
}

#quickmenu li:hover {
	cursor: pointer;
}

#quickmenu li:not(:first-child) {
	border-left: none;
}

/*##### 상세설명 구간 시작 ########*/
div#explain_goods {
	width: 1000px;
	margin: 80px auto;
}

div#explain_goods img {
	width: 100%;
}

/*#######고객센터 안내 시작###########*/
div#goods_center {
	/* border: 1px solid #000; */
	margin-bottom: 20px;
}

#goods_center>h1 {
	padding: 20px 0 30px;
	color: #666;
}

#goods_center>p>span {
	font-weight: bold;
	color: #666;
}

#goods_center>div#goods_inquiry {
	/* border: 1px solid #000; */
	padding: 40px 0 0 130px;
}

#goods_center>#goods_inquiry>div.inquiryway {
	flex: 1;
	padding: 30px 0;
}

#goods_center>#goods_inquiry>.inquiryway>span {
	font-weight: bold;
	color: #5f0080;
	font-size: 16px;
}

#goods_center>#goods_inquiry>.inquiryway>p.add_guide {
	font-size: 13px;
	color: #666;
}

/*#######후기게시판############*/
#goods_center>table {
	border-collapse: collapse;
	width: 100%;
}

/* #goods_center>table td {
	border: 1px solid #000;
} */
#goods_center>table#review th {
	/* border: 1px solid #000; */
	height: 50px;
}

#goods_center>table#review {
	margin: 70px 0 170px;
}

#goods_center>table#review th.reviewHead {
	padding: 10px 0;
}

#goods_center>table#review th.reviewHead:first-child {
	text-align: left;
	vertical-align: top;
}

#goods_center>table#review th.reviewHead:nth-child(2) {
	text-align: right;
}

#goods_center>table#review th.reviewHead p>span {
	text-decoration: underline;
}

#goods_center>table#review th.reviewHead select {
	height: 30px;
	border: none;
	border: 1px solid #666;
}

#goods_center>table#review th.thTit {
	border-top: 2px solid #5f0080;
	border-bottom: 1px solid #eee;
}

#goods_center>table#review th.thTit:not(:nth-child(2)) {
	width: 90px;
}

#goods_center>table#review td#notFoundTd {
	text-align: center;
	font-size: 18px;
	color: #555;
	font-weight: bold;
	padding: 20px 0;
	font-weight: bold;
}

/*####### 후기 펼치기용 테이블 #########*/
tr.hiddenRivewTitle:hover {
	cursor: pointer;
}

#goods_center>table#review tr.hiddenTr {
	display: none;
	width: 100%;
}

#goods_center>table#review td.hiddenRivew {
	width: 100%;
	padding: 20px 70px;
	text-align: left;
	background-color: #fafafa;
}

#goods_center>table#review td.hiddenRivew div {
	width: 100%;
}

#goods_center>table#review td.hiddenRivew div input {
	font-weight: bold;
	width: 100%;
	font-size: 17px;
	padding: 10px 20px;
	border: 1px solid #eee;
	outline: none;
}

#goods_center>table#review td.hiddenRivew div.img {
	text-align: center;
	height: 300px;
	padding: 20px 0;
}

#goods_center>table#review td.hiddenRivew div img {
	height: 100%;
}

#goods_center>table#review td.hiddenRivew div textarea {
	width: 100%;
	font-size: 17px;
	padding: 10px 20px;
	font-size: 17px;
	resize: none;
	border: 1px solid #eee;
	outline: none;
	height: 300px;
	overflow: visible;
}

/*############################*/
#goods_center>table#review tbody tr:not(:last-child)>td {
	border-bottom: 1px solid #eee;
}

#goods_center>table#review td {
	text-align: center;
}

#goods_center>table#review td:nth-child(2) {
	text-align: left;
}

#goods_center>table#review td#reviewBtnArea {
	text-align: right;
	border-top: 1px solid #5f0080;
	padding-top: 30px;
}

#goods_center>table#review td#reviewBtnArea>button {
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #5f0080;
	color: #fff;
}

#goods_center>table#review td#reviewBtnArea>button:hover {
	cursor: pointer;
}

/*###### 후기 게시판 이동 번호 버튼 ######## */
#goods_center>table#review td>div.pageBtn {
	/* border: 1px solid #000; */
	display: inline-block;
	text-align: center;
}

#goods_center>table#review td>div.pageBtn>button {
	border: none;
	border: 1px solid #dddfe1;
	background-color: #fff;
	width: 30px;
	font-size: 20px;
}

#goods_center>table#review td>div.pageBtn>button:hover {
	cursor: pointer;
	background-color: #f7f7f7;
	color: #5f0080;
}

/*##########QnA 게시판 시작########### */

/* #goods_center>table#qaTbl>* {
	border: 1px solid #000;
} */
#goods_center>table#qaTbl {
	margin: 70px 0 170px;
}

#goods_center>table#qaTbl th {
	/* border: 1px solid #000; */
	height: 50px;
}

#goods_center>table#qaTbl tr:first-child>th {
	text-align: left;
	vertical-align: top;
	padding-bottom: 30px;
}

#goods_center>table#qaTbl tr:nth-child(2) th {
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
}

#goods_center>table#qaTbl th>p>span {
	text-decoration: underline;
}

#goods_center>table#qaTbl th.thTit {
	border-top: 2px solid #5f0080;
	border-bottom: 1px solid #eee;
}

#goods_center>table#qaTbl tbody tr>td {
	/* border: 1px solid #000; */
	border-bottom: 1px solid #eee;
	text-align: center;
}

#goods_center>table#qaTbl tbody tr>td:first-child {
	cursor: pointer;
}

#goods_center>table#qaTbl tbody tr>td:nth-child(2) {
	padding-right: 10px;
}

#goods_center>table#qaTbl tfoot td {
	text-align: right;
	padding-top: 20px;
}

#goods_center>table#qaTbl tfoot td button {
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #5f0080;
	color: #fff;
}

#goods_center>table#qaTbl tfoot td button:hover {
	cursor: pointer;
}

/*####### QnA 펼치기용 테이블 #########*/
#goods_center>table#qaTbl tr.hiddenTr {
	display: none;
	width: 100%;
}

#goods_center>table#qaTbl td.hiddenRivew {
	width: 100%;
	padding: 20px 70px;
	text-align: left;
	background-color: #fafafa;
}

#goods_center>table#qaTbl td.hiddenRivew>div {
	padding: 20px 70px;
	width: 100%;
	text-align: left;
}

#goods_center>table#qaTbl td.hiddenRivew>div h1 {
	padding-bottom: 20px;
	color: #5f0080;
	font-size: 2em;
}

#goods_center>table#qaTbl td.hiddenRivew input {
	font-weight: bold;
	width: 100%;
	font-size: 17px;
	padding: 10px 20px;
	border: 1px solid #eee;
	outline: none;
}

#goods_center>table#qaTbl div.managerA {
	text-align: left;
	line-height: 30px;
}

#goods_center>table#qaTbl div.managerA p {
	font-size: 20px;
}

#goods_center>table#qaTbl td.hiddenRivew div.img {
	text-align: center;
	height: 300px;
	padding: 20px 0;
}

#goods_center>table#qaTbl td.hiddenRivew div img {
	height: 100%;
}

#goods_center>table#qaTbl td.hiddenRivew textarea {
	width: 100%;
	font-size: 17px;
	padding: 10px 20px;
	height: 300px;
	overflow: visible;
	font-size: 17px;
	resize: none;
	border: 1px solid #eee;
	outline: none;
	font-size: 17px;
}

#goods_center>table#qaTbl td#notFoundTd {
	text-align: center;
	font-size: 18px;
	color: #555;
	font-weight: bold;
	padding: 20px 0;
	font-weight: bold;
}

/*############################*/

/*/////////////////////////////////////////////////////////////
//////////////////////상품문의하기 시작/////////////////////////
///////////////////////////////////////////////////////////*/
div#goodsQna div.dimmed {
	display: none;
}

div#goodsQna div.dimmed::after {
	content: '';
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

div#goodsQna .popup {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 1000px;
	max-width: 1000px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 2px 55px -25px rgb(0 0 0/ 100%);
}

div#goodsQna .popup  .title {
	border-radius: 15px 15px 0 0;
	min-height: 80px;
	background-color: #9c8ce6;
	padding: 5px 15px;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}

div#goodsQna .popup  .title p {
	color: #fff;
	font-weight: bold;
	font-size: 22px;
}

div#goodsQna .popup  .content {
	padding: 20px;
	box-sizing: border-box;
}

div#goodsQna .popup  .content p {
	border-bottom: 1px solid #eee;
	padding: 5px 0;
	margin: 5px 0;
	font-weight: bold;
	font-size: 1.1em;
}

div#goodsQna .popup  .content p:nth-child(2), div#goodsQna  .popup  .content p:nth-child(3)
	{
	margin-top: 35px;
}

div#goodsQna .popup  .cmd {
	bottom: 0;
	min-height: 40px;
	padding: 15px 15px;
	box-sizing: border-box;
	border-radius: 0 0 15px 15px;
	min-height: 40px;
	text-align: right;
}

div#goodsQna .popup  .cmd .button {
	border-radius: 8px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	font-weight: bold;
	font-size: 17px;
	color: #777;
	cursor: pointer;
}

div#goodsQna .popup  .cmd .button:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

div#goodsQna table {
	width: 900px;
	margin: 0 auto;
}

div#goodsQna table td:nth-child(1) {
	width: 150px;
	font-size: 20px;
	font-weight: bold;
}

div#goodsQna table td:nth-child(2) {
	width: 750px;
	text-align: center;
}

div#goodsQna td#info ul li {
	color: #888;
	margin: 3px 0;
	text-align: left;
	font-size: 15px;
	padding-left: 40px;
}

div#goodsQna td#info ul li:last-child {
	margin-bottom: 12px;
}

div#goodsQna td#tdTitle input {
	width: 90%;
	padding: 8px 5px;
	font-size: 16px;
}

div#goodsQna table tr#fileTr  td:nth-child(2) {
	text-align: left;
}

div#goodsQna td#tdContent textarea {
	width: 90%;
	height: 300px;
	font-size: 15px;
	padding: 5px;
	resize: none;
	overflow: scroll;
}

div#goodsQna td#tdBtn {
	text-align: center;
	margin-bottom: 30px;
}

div#goodsQna td#tdBtn button {
	cursor: pointer;
	margin: 10px 10px;
	font-size: 22px;
	font-weight: bold;
	width: 230px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #5f0080;
	color: #fff;
}

div#goodsQna td#tdBtn button#cancelBtn {
	background-color: #fff;
	color: #5f0080;
	border: 1px solid #5f0080;
}
/*/////////////////////////////////////////////////////////////
//////////////////////상품문의하기 끝////////////////////////////
///////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////
//////////////////////상품후기등록하기 시작/////////////////////////
///////////////////////////////////////////////////////////*/
div#commentPage div.dimmed {
	display: none;
}

div#commentPage div.dimmed::after {
	content: '';
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

div#commentPage .popup {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 1000px;
	max-width: 1000px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 2px 55px -25px rgb(0 0 0/ 100%);
}

div#commentPage .popup  .title {
	border-radius: 15px 15px 0 0;
	min-height: 80px;
	background-color: #9c8ce6;
	padding: 5px 15px;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}

div#commentPage .popup  .title p {
	color: #fff;
	font-weight: bold;
	font-size: 22px;
}

div#commentPage .popup  .content {
	padding: 20px;
	box-sizing: border-box;
}

div#commentPage .popup  .content p {
	border-bottom: 1px solid #eee;
	padding: 5px 0;
	margin: 5px 0;
	font-weight: bold;
	font-size: 1.1em;
}

div#commentPage .popup  .content p:nth-child(2), div#goodsComment  .popup  .content p:nth-child(3)
	{
	margin-top: 35px;
}

div#commentPage table {
	width: 900px;
	margin: 0 auto;
}

div#commentPage table td:nth-child(1) {
	width: 150px;
	font-size: 20px;
	font-weight: bold;
}

div#commentPage table td:nth-child(2) {
	width: 750px;
	text-align: center;
}

div#commentPage td#info ul li {
	color: #888;
	margin: 3px 0;
	text-align: left;
	font-size: 15px;
}

div#commentPage td#info ul li:last-child {
	margin-bottom: 12px;
}

div#commentPage td#tdTitle input {
	width: 90%;
	padding: 8px 5px;
	font-size: 16px;
}

div#commentPage td#tdContent textarea {
	width: 90%;
	height: 300px;
	font-size: 15px;
	padding: 5px;
	resize: none;
	overflow: scroll;
}

div#commentPage #commentTbl td#tdComentBtn {
	text-align: center;
	margin-bottom: 30px;
}

div#commentPage #commentTbl td#tdComentBtn button {
	cursor: pointer;
	margin: 10px 10px;
	font-size: 22px;
	font-weight: bold;
	width: 230px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #5f0080;
	color: #fff;
}

div#commentPage #commentTbl  td#tdComentBtn button#cancelBtn {
	background-color: #fff;
	color: #5f0080;
	border: 1px solid #5f0080;
}
/*/////////////////////////////////////////////////////////////
//////////////////////상품후기등록하기 끝////////////////////////////
///////////////////////////////////////////////////////////*/